@model TaskMvc.Models.PersonViewModel

<div class="block-center">
    <h2>Enter name:</h2>
    <form method="post" asp-action="Index">
        <input type="text" name="name" />
        <input type="submit" value="Submit" />
    </form>
</div>

<style>
    .block-center {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 200px;
    }
</style>