@model TaskMvc.Models.PersonViewModel

<div class="block-center">
    <h2>Hello, @Model.Name</h2>
</div>

<style>
    .block-center {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 200px;
    }
</style>